body:not(.color-swatch) {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-image: url("https://joselisou.github.test/ad535b0e-40c7-4ea0-858a-6553692bc42a.jpeg");
}