$tapestry: #b25a7c !default;
$eletric-violet: #820ad1 !default;
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  $eletric-violet !default;
$rose:    $tapestry !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "rose":       $rose,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "black":      $black,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
) !default;
$rose-100: tint-color($rose, 80%) !default;
$rose-200: tint-color($rose, 60%) !default;
$rose-300: tint-color($rose, 40%) !default;
$rose-400: tint-color($rose, 20%) !default;
$rose-500: $rose !default;
$rose-600: shade-color($rose, 20%) !default;
$rose-700: shade-color($rose, 40%) !default;
$rose-800: shade-color($rose, 60%) !default;
$rose-900: shade-color($rose, 80%) !default;
$primary: $tapestry !default;
$danger: $red !default;
$prefix: js- !default;
$input-btn-padding-y: .375rem !default;
$input-btn-padding-x: .75rem !default;
// $font-family-sans-serif: Graphik, Montserrat, Poppins, "Work Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$grid-gutter-width: 3rem !default;
$font-size-base: 1rem !default;
$font-size-sm: $font-size-base * .875 !default;
$line-height-base: 1.5 !default;
$line-height-sm: 1.28571429 !default;
$btn-padding-y: 0.333333333rem !default;
$btn-padding-x: 0.666666667rem !default;
$btn-font-size: $font-size-base !default;
$btn-line-height: $line-height-base !default;
$border-width: 2px !default;
$input-btn-border-width: var(--#{$prefix}border-width) !default;
$font-weight-medium: 500 !default;
$btn-font-weight: $font-weight-medium !default;
$btn-border-width: $input-btn-border-width !default;
$btn-height-border: calc(#{$btn-border-width} * 2) !default;
$btn-height: add($btn-line-height * 1em, add($btn-padding-y * 2, $btn-height-border, false)) !default;
$btn-border-radius: calc(#{$btn-height} * 2) !default;
$modal-fade-transform: translate(100vw, 0) !default;
$btn-close-color: $black !default;
$btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M1.666.666a1 1 0 0 0-.707.293 1 1 0 0 0 0 1.414L6.586 8 .959 13.627a1 1 0 0 0 0 1.414 1 1 0 0 0 1.414 0L8 9.414l5.627 5.627a1 1 0 0 0 1.414 0 1 1 0 0 0 0-1.414L9.414 8l5.627-5.627a1 1 0 0 0 0-1.414 1 1 0 0 0-.707-.293 1 1 0 0 0-.707.293L8 6.586 2.373.959a1 1 0 0 0-.707-.293'/></svg>") !default;
$border-radius-xl: .9375rem !default;
$modal-dialog-margin: 3.6875rem !default;
$modal-inner-padding: 0 !default;
$modal-header-padding-y: 1.25rem !default;
$form-label-font-weight: $font-weight-medium !default;
$form-label-font-size: 2rem !default;
$btn-close-opacity: .6 !default;
$form-text-font-size: 1rem !default;
$form-label-margin-bottom: .625rem !default;
$input-padding-x: 0 !default;
$input-border-radius: 0 !default;
$input-font-size: 1.125rem !default;
$input-font-weight: $font-weight-medium !default;
$input-padding-y: .6875rem !default;
$form-text-margin-top: 1.9375rem !default;
$form-feedback-margin-top: .25rem !default;
$form-text-margin-bottom: $form-text-margin-top !default;
$modal-backdrop-opacity: .6 !default;
$input-focus-box-shadow: null !default;
$focus-ring-width: .25rem !default;
$focus-ring-opacity: .25 !default;
$input-btn-focus-width: $focus-ring-width !default;
$input-focus-width: $input-btn-focus-width !default;
$focus-ring-blur: 0 !default;
$input-btn-focus-blur: $focus-ring-blur !default;
$form-feedback-invalid-color: $danger !default;
$form-feedback-icon-invalid-color: $form-feedback-invalid-color !default;
$input-btn-focus-color-opacity: $focus-ring-opacity !default;
$form-feedback-font-size: .75rem !default;
$form-feedback-font-weight: $font-weight-medium !default;
$form-feedback-icon-invalid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='#{$form-feedback-icon-invalid-color}'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='#{$form-feedback-icon-invalid-color}' stroke='none'/></svg>") !default;
$form-validation-states: (
  "invalid": (
    "color": var(--#{$prefix}form-invalid-color),
    "icon": $form-feedback-icon-invalid,
    "tooltip-color": #fff,
    "tooltip-bg-color": var(--#{$prefix}danger),
    "focus-box-shadow": null,
    "border-color": var(--#{$prefix}form-invalid-border-color),
  )
) !default;

@import "../node_modules/bootstrap/scss/variables";
