@import "../../node_modules/bootstrap/scss/forms/form-control";

.form-control {
  --#{$prefix}caret-color: #{$primary};

  caret-color: var(--#{$prefix}caret-color);

  &,
  &:focus {
    border-color: transparent transparent $input-border-color;
  }

  &:focus {
    box-shadow: none;
  }
}
