@import "../../node_modules/bootstrap/scss/forms/labels";

.form-label {
  letter-spacing: $form-label-letter-spacing;
  line-height: $form-label-line-height;

  span {
    white-space: nowrap;
  }
}
